/*This is the main container for the site*/
.container{
  width: 100%;
  padding: 0px;
}


body{
  font-family: raleway;
}
.temp-clear{
  margin-top:100%;
}

.sliderContainer{
  position: relative;
}

.carousel-inner{
  z-index: -1;
}



/* Navigation Menu */
.nav{
  font-size:21px;
}
.myNav{
  background: #fff;
  text-align: center;
  margin: 0 auto;
}

.myNav ul{
    display: inline-block;
    padding: 20px;
}



/*-----------container for the content ---------*/

.content{
  width: 90%;
  margin: 0 auto;
  background: inherit;

}

}
/*------------Sign up form ------------*/

.form{
  margin: auto;
  position: relative;
  width: 50%;


}

.form-background{
  width: 100%;
  height:auto;
  background: #F8F9F9;
  position: relative;
  display: block;
  padding: 30px;
  margin-top: 35%;
}


/*------------This is the input group styling ------------*/
input{
   border-radius: 2%;
   width: 90%;
   height:30px;
   margin-bottom: 10px;
}
.input-group-addon{
  min-width:74px;
}
/*--------- Three col on hompage ----------*/

.col-info img{
  max-width: 100%;
  margin-top:7%
}

.col-info p{
  padding-top: 4%;
  font-size: 20px;
}



/*This is the footer  section*/

footer{
  width:100%;
  background: #000;
  margin-top:40px;
  height: 50px;
  clear:both;

}
